@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,800&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

.mouse-move-wrapper {
/* size and color  */
height: 100vh;
background-color: #EEF3F6;
width: 100vw;
overflow: hidden;
/* position of children */
position: relative;
}

/* mountains  */

.mountain {
position: absolute;
width: 130vw;
left: -20vw;
bottom: 0px;
transform: translate(-50% -50%);
background-size: 100% 100%;
filter:drop-shadow(-5px -5px 5px rgba(30, 40, 51, 0.2));
}

.mountain-1 {
  height: 90vh;
  width: 140vw;
  left: -20vw;
  bottom: -10vh;
  z-index: 1;
  background-image: url("mountains/mountains-1.png");
}

.mountain-2 {
  height: 80vh;
  width: 130vw;
  left: -20vw;
  bottom: -10vh;
  z-index: 2;
  background-image: url("mountains/mountains-2.png");

}

.mountain-3 {
  height: 90vh;
  width: 120vw;
  left: -10vw;
  bottom: -40vh;
  z-index: 4;
  background-image: url("mountains/mountains-3.png");

}

.mountain-4 {
  height: 70vh;
  width: 120vw;
  left: -10vw;
  bottom: -40vh;
  z-index: 5;
  background-image: url("mountains/mountains-4.png");

}

/* fonts  */

h1 {
/* size, font and color */
font-size: 6rem;
font-weight: 900;
color: white;
font-family: 'Prompt', sans-serif;
text-decoration: underline;
text-shadow: -5px -5px 5px rgba(30, 40, 51, 0.2);
/* position */
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
z-index: 3;
pointer-events: auto;
}

.parallax {
  pointer-events: none;
  display: block;
  transition: 0.45s cubic-bezier(.2, .49, .32, .99)
}

::selection {
  background-color: rgba(30, 40, 51, 0.8);
  padding: 10px;
}

@media (max-width: 1100px){
  h1 {
    /* size, font and color */
    font-size: 4rem;
  }
}

@media (max-width: 800px){
  h1 {
    /* size, font and color */
    font-size: 3rem;
  }
}
