<%# https://www.youtube.com/watch?v=Yo3j_Dx4u7c %>

<main>
  <div class='mouse-move-wrapper' data-controller="mountains" data-action="mousemove->mountains#updateMouse">
    <div class="mountain mountain-1" data-mountains-target="parallax" data-speedx="0.3" data-speedy="0.2"></div>
    <div class="mountain mountain-2" data-mountains-target="parallax" data-speedx="0.22" data-speedy="0.17"></div>
    <h1 data-action="click->mountains#clicked">MOUNTAINS</h1>
    <div class="mountain mountain-3" data-mountains-target="parallax" data-speedx="0.15" data-speedy="0.12"></div>
    <div class="mountain mountain-4" data-mountains-target="parallax" data-speedx="0.1" data-speedy="0.08"></div>
  </div>
</main>
