<main>
  <div class="snapper" data-controller="scroll">
    <section>
      <h2>scroll</h2>
      <div class="credit-card" data-action="mousedown->scroll#dragOn mousemove->scroll#dragElement mouseup->scroll#dragOff" data-scroll-target="creditcard"></div>
    </section>
    <section>
      <h2>scroll 2</h2>
    </section>
    <section></section>
  </div>
</main>
